/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss' as color;

/* Global styles
------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Default font size */
  font-size: 16px;
  --bs-body-bg: #{color.$primary-color} !important;
}

html {
  background-color: black;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  margin-inline: auto;

  & > * {
    max-width: 100%;
  }

  & > main {
    margin-block: 0 auto;
    background-color: color.$accent-color-2;
  }

  & > :first-child:not(main) {
    margin-block-start: 0;
  }

  & > :last-child:not(main) {
    margin-block-end: 0;
  }
}
