/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use "./_colors.scss" as color;

.details {
  padding: 0.2rem 0;
  background-color: color.$tertiary-color;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin: 0;

  &:nth-child(odd) {
    background-color: color.$accent-color-1;
  }

  &:nth-child(even) {
    background-color: color.$accent-color-2;
  }
}
